---
layout: compress
---

<!DOCTYPE html>

<html lang="{{ site.lang }}">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% capture inline_css %}{% file_exists {{ '_includes/inline.css' }} %}{% endcapture %}
        {% if inline_css == "true" %}
            <style>
                {% capture include_to_scssify %}
                    {% include inline.css %}
                {% endcapture %}
                {{ include_to_scssify | scssify }}
            </style>
        {% else %}
            <link rel="stylesheet" href="{% link assets/css/style.css %}" media="print" onload="this.media='all'"><!--https://www.filamentgroup.com/lab/load-css-simpler/-->
        {% endif %}

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" media="print"
            onload="this.media='all'">

        {% seo %}
        {% include analytics.html %}
    </head>

    <body>
        {% include navbar.html %}

        {{ content }}

        {% include footer.html %}
        
        {% include lazysizes.html %}
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% link assets/js/all.js %}" async defer></script>
            
    </body>
        
</html>
